@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
}

@media (prefers-color-scheme: dark) {
}

@media (max-width: 767px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    main {
        padding: 0 5%;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    nav > div {
        height: 10vh;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 1024px) and (max-width: 1280px) {
}

@media (min-width: 1280px) {
}

@media (max-width: 1280px) {
}

html,
body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-weight: 10;
}

h2 {
    width: 100%;
    text-align: center;
    font-weight: 5;
}

h3 {
    font-weight: 500;
}

nav,
main {
    max-width: 1280px;
    margin: auto;
}

.carousel-text-container > div,
.carousel-text-container > h3 {
    margin: 0.5% auto;
    padding: 0.5%;
    background-color: rgb(255, 255, 255, 0.2);
    /*backdrop-filter: blur(1px);*/
}

.button-stylised-1 {
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

.button-stylised-1:hover,
.button-stylised-1:focus {
    transition: 0.25s all;
}

.button-stylised-1:hover:not(.button-stylised-1-custom),
.button-stylised-1:focus:not(.button-stylised-1-custom) {
    background-color: #f3f4f6;
    color: black;
}

.button-stylised-1-custom {
    background-color: #f3f4f6;
    color: black;
}

.button-stylised-1-custom:hover,
.button-stylised-1-custom:focus {
    background-color: black;
    color: white;
}

.radio-toolbar {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
    max-width: 250px;
}

.radio-toolbar input[type="radio"] {
    display: none;
}

.radio-toolbar label {
    display: inline-block;
    padding: 4px 11px;
    cursor: pointer;
    background-color: #f3f4f6;
    border-radius: 0.25rem;
    font-weight: 500;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: black;
    color: white;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}
