@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-weight: 400;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

body {
    display: contents;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

h1 {
    width: fit-content;
    margin: 25px auto;
    text-transform: uppercase;
    text-align: center;
    font-size: var(--h1-font-size);
    font-weight: 400;
    background-image: linear-gradient(gold, gold);
    background-size: 100% 10px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    transition: background-size 0.7s, background-position 0.5s ease-in-out;
}

h1:hover {
    background-size: 100% 100%;
    background-position: 0% 100%;
    transition: background-position 0.7s, background-size 0.5s ease-in-out;
}

h2 {
    width: 100%;
    text-align: center;
    font-size: var(--h2-font-size);
    font-weight: 200;
}

h3 {
    font-size: var(--h3-font-size);
    font-weight: 200;
}

h4 {
    font-size: var(--h4-font-size);
    font-weight: 200;
}

#banner-inner {
    mask-image: linear-gradient(
            to left,
            rgb(255, 255, 255, 0) 0%,
            rgb(255, 255, 255, 1) 2%
        ),
        linear-gradient(
            to right,
            rgb(255, 255, 255, 0) 0%,
            rgb(255, 255, 255, 1) 2%
        );
    mask-composite: intersect;
}

.banner-slide {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
}

.banner-slide span {
    display: flex;
    position: fixed;
    height: 30px;
    align-items: center;
    margin-left: 100vw;
    font-size: small;
    font-weight: 100;
    animation-name: banner-slide;
    animation-duration: calc(var(--banner-duration) * 3);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#banner-inner:hover span {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

.banner-slide-second span {
    animation-delay: var(--banner-duration);
}

.banner-slide-third span {
    animation-delay: calc(var(--banner-duration) * 2);
}

#search-container {
    background-color: white;
    padding: 0 var(--container-padding-x);
}

#navbar-container,
#search-container.show {
    transition: height 0.5s, box-shadow 0.5s;
    transition-delay: 0s, 0.5s;
    transition-property: height, box-shadow;
}

#search-container.hide {
    height: 0;
    transition: height 0.4s;
}

#search-container > div {
    padding: 0 var(--container-padding-x);
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

main {
    max-width: 1440px;
    padding-top: var(--container-padding-y);
    margin: auto;
    padding-left: var(--container-padding-x);
    padding-right: var(--container-padding-x);
}

footer {
    filter: brightness(0.99);
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Boutons, radios et divers */
.button-stylised-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
    min-height: 44px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: 0.25s background-color;
}

.button-stylised-1 > span {
    font-weight: bold;
}

.button-stylised-1:hover > span,
.button-stylised-1:focus > span {
    display: none;
}

.button-stylised-1:hover > svg,
.button-stylised-1:focus > svg {
    display: block;
}

.button-stylised-1:hover:not(.button-stylised-1-custom),
.button-stylised-1:focus:not(.button-stylised-1-custom) {
    background-color: #f3f4f6;
    color: black;
}

.button-stylised-1-custom {
    background-color: #f3f4f6;
    color: black;
}

.button-stylised-1-custom:hover,
.button-stylised-1-custom:focus {
    background-color: black;
    color: white;
}

.radio-toolbar {
    display: flex;
    justify-content: flex-start;
    margin: 5% 0;
    max-width: 250px;
}

.radio-toolbar input[type="radio"] {
    display: none;
}

.radio-toolbar label {
    display: inline-block;
    margin-right: 5%;
    padding: 4px 11px;
    cursor: pointer;
    background-color: #f3f4f6;
    border-radius: 0.25rem;
    font-weight: 500;
    transition: background-color 0.25s;
}

.radio-toolbar label:hover {
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: black;
    color: white;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.turbo-progress-bar {
    visibility: hidden;
}

/* Loader des pages */
#loader-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: white;
    z-index: 9999;
}

#loader-container.open {
    animation: loader-animate 0.7s cubic-bezier(0.645, 0.045, 0.355, 1) both;
}

#loader-container.close {
    animation: loader-animate 0.7s cubic-bezier(0.645, 0.045, 0.355, 1) reverse
        both;
}

.left-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: auto;
    left: -100%;
    bottom: auto;
    right: auto;
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#loader-container.open .left-layer {
    left: 100%;
}

.right-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: auto;
    left: auto;
    bottom: auto;
    right: -100%;
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#loader-container.close .right-layer {
    right: 100%;
}

.left-layer,
.right-layer {
    background: #f1e0c5;
}

.left-layer--2,
.right-layer--2 {
    background: #dce0d9;
    transition-delay: 0.3s;
}

.left-layer--3,
.right-layer--3 {
    background: #fbf6ef;
    transition-delay: 0.12s;
}

/* Paramètres globaux du container d'une carte "produit" */
#search-container .product {
    margin-bottom: 0;
}

.thumbnail {
    aspect-ratio: 3/4;
    overflow: hidden;
}

.product .thumbnail img {
    transition: opacity 1s ease-out;
}

.product .thumbnail:hover img:last-child {
    opacity: 1;
    height: 100%;
    width: 100%;
}

.product .thumbnail:hover img:first-child,
.product .thumbnail img:last-child {
    opacity: 0;
    height: 0;
    width: 0;
    overflow: hidden;
}

.short-description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#lds-hourglass {
    max-width: 1480px !important; /* prévient l'effet de bord sur le container et lisse l'effet de flou */
    backdrop-filter: blur(0px);
    transition: backdrop-filter 1.5s;
}

#lds-hourglass.show {
    display: flex;
    backdrop-filter: blur(5px);
}

/* Search response loader */
#lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: black transparent black transparent;
    animation: lds-hourglass 1.2s infinite;
}

@media (max-width: 767px) {
    :root {
        --h1-font-size: x-large;
        --h2-font-size: large;
        --h3-font-size: medium;
        --h4-font-size: initial;
        --container-padding-x: 10px;
        --container-padding-y: 0;
    }
}

@media (min-width: 768px) {
    :root {
        --h1-font-size: xx-large;
        --h2-font-size: x-large;
        --h3-font-size: large;
        --h4-font-size: medium;
    }

    footer {
        background-image: url("/public/images/footer-bg.svg");
        background-position: bottom 25% left 0;
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    :root {
        --container-padding-x: 10px;
    }
}

@media (max-width: 1023px) {
    :root {
        --container-padding-x: 10px;
        --container-padding-y: 0;
        --banner-duration: 10s;
        --banner-duration-double: 20s;
        --banner-speed: -400vw;
    }

    #search-container.show {
        height: 100dvh;
        position: absolute;
        top: 0;
    }

    #search-container.hide {
        top: 0;
    }

    #search-container .product {
        width: 49%;
        margin-left: 0.5%;
        margin-right: 0.5%;
        margin-bottom: 10%;
    }
}

@media (min-width: 1024px) {
    :root {
        --banner-duration: 10s;
        --banner-duration-double: 15s;
        --banner-speed: -150vw;
    }

    #search-container.show {
        height: 80vh;
        box-shadow: 0px 20vh 20px 20px rgb(0, 0, 0, 0.5);
    }

    #search-container.hide {
        box-shadow: unset;
    }

    #search-container .product {
        height: fit-content;
        width: 19%;
    }

    #search-container .product:not(.product:last-of-type) {
        margin: 0 1% 0 0;
    }
}

@media (min-width: 1280px) {
    :root {
        --container-padding-x: 20px;
        --container-padding-y: 0;
    }

    #navbar-container,
    #search-container {
        padding: 0 var(--container-padding-x);
    }
}

@media (min-width: 1460px) {
    :root {
        --container-padding-x: 0;
        --container-padding-y: 0;
    }
}

/* Keyframes */
@keyframes banner-slide {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(var(--banner-speed), 0);
    }
}

@keyframes loader-animate {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

/* Animation du loader d'une recherche d'article */
@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}
