/* Div ajoutée par flowbite lors de l'affichage du panier */
.bg-gray-900\/50.dark\:bg-gray-900\/80.fixed.inset-0.z-40 {
    z-index: 149;
}

#basket-modal {
    display: flex;
    transform: translateX(100%);
    overflow: hidden;
    transition: transform 1s
        linear(
            0 0%,
            0 1.8%,
            0.01 3.6%,
            0.03 6.35%,
            0.07 9.1%,
            0.13 11.4%,
            0.19 13.4%,
            0.27 15%,
            0.34 16.1%,
            0.54 18.35%,
            0.66 20.6%,
            0.72 22.4%,
            0.77 24.6%,
            0.81 27.3%,
            0.85 30.4%,
            0.88 35.1%,
            0.92 40.6%,
            0.94 47.2%,
            0.96 55%,
            0.98 64%,
            0.99 74.4%,
            1 86.4%,
            1 100%
        );
    z-index: 150;
}

#basket-modal[aria-modal="true"] {
    transform: translateX(0%);
}

#basket-title {
    width: -moz-fit-content;
    width: fit-content;
    background-image: linear-gradient(
        rgb(var(--accent-color-1)),
        rgb(var(--accent-color-1))
    );
    background-size: 100% 15px;
    background-repeat: no-repeat;
    background-position: 0 100%;
    transition: background-size 0.5s, background-position 0.3s ease-in-out;
}

#basket-title:hover {
    background-size: 100% 100%;
    background-position: 0 0;
}

#close-basket-modal {
    background-color: rgb(var(--accent-color-2));
    border-radius: 999px;
}

#basket-timeout {
    color: rgb(var(--accent-color-1));
}

#basket-body table {
    text-align: center;
    text-align-last: center;
}

#basket-body table .column-one {
    display: none;
}

@media (min-width: 768px) {
    #basket-body table .column-one {
        display: table-cell;
        width: 100px;
    }
}
