#basket-modal {
    display: flex;
    transform: translateX(100%);
    overflow: hidden;
    transition: transform 1s
        linear(
            0 0%,
            0 1.8%,
            0.01 3.6%,
            0.03 6.35%,
            0.07 9.1%,
            0.13 11.4%,
            0.19 13.4%,
            0.27 15%,
            0.34 16.1%,
            0.54 18.35%,
            0.66 20.6%,
            0.72 22.4%,
            0.77 24.6%,
            0.81 27.3%,
            0.85 30.4%,
            0.88 35.1%,
            0.92 40.6%,
            0.94 47.2%,
            0.96 55%,
            0.98 64%,
            0.99 74.4%,
            1 86.4%,
            1 100%
        );
}

#basket-modal[aria-modal="true"] {
    transform: translateX(0%);
}

#basket-title {
    width: -moz-fit-content;
    width: fit-content;
    background-image: linear-gradient(
        rgb(var(--accent-color-1)),
        rgb(var(--accent-color-1))
    );
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    transition: background-size 0.5s, background-position 0.3s ease-in-out;
}

#close-basket-modal {
    background-color: rgb(var(--accent-color-2));
    border-radius: 999px;
}

#basket-timeout {
    color: rgb(var(--accent-color-1));
}

#basket-body table {
    text-align: center;
    text-align-last: center;
}

#basket-body table .column-three,
#basket-body table .column-five {
    display: none;
}

#basket-body table .column-one {
    width: 100px;
}

#basket-body table .quantity-input {
    max-width: 60px;
    margin-left: 5px;
    margin-right: 5px;
}

@media (min-width: 425px) {
    #basket-body table .column-three {
        display: table-cell;
    }
}

@media (min-width: 768px) {
    #basket-body table .column-one,
    #basket-body table .column-five {
        display: table-cell;
    }
}
