/* Div ajoutée par flowbite lors de l'affichage du panier */
.bg-gray-900\/50.dark\:bg-gray-900\/80.fixed.inset-0.z-40 {
    z-index: 149;
}

#basket-modal {
    transform: translateX(100%);
}

#search-modal {
    transform: translateX(-100%);
}

#basket-modal,
#search-modal {
    display: flex;
    overflow: hidden;
    transition: transform 1s
        linear(
            0 0%,
            0 1.8%,
            0.01 3.6%,
            0.03 6.35%,
            0.07 9.1%,
            0.13 11.4%,
            0.19 13.4%,
            0.27 15%,
            0.34 16.1%,
            0.54 18.35%,
            0.66 20.6%,
            0.72 22.4%,
            0.77 24.6%,
            0.81 27.3%,
            0.85 30.4%,
            0.88 35.1%,
            0.92 40.6%,
            0.94 47.2%,
            0.96 55%,
            0.98 64%,
            0.99 74.4%,
            1 86.4%,
            1 100%
        );
    z-index: 150;
}

#basket-modal[aria-modal="true"],
#search-modal[aria-modal="true"] {
    transform: translateX(0%);
}

#basket-title,
#search-title {
    width: -moz-fit-content;
    width: fit-content;
    font-size: var(--h1-font-size);
    font-weight: 900;
    color: rgb(var(--accent-color-4));
}

#basket-title > span {
    background-image: linear-gradient(
        rgb(var(--accent-color-1)),
        rgb(var(--accent-color-1))
    );
}

#search-title > span {
    background-image: linear-gradient(
        rgb(var(--accent-color-3)),
        rgb(var(--accent-color-3))
    );
}

#basket-title > span,
#search-title > span {
    font-weight: 900;
    background-size: 100% 35%;
    background-repeat: no-repeat;
    background-position: 0 100%;
}

#close-basket-modal {
    background-color: rgb(var(--accent-color-2));
}

#close-search-modal {
    background-color: rgb(var(--accent-color-1));
}

#close-basket-modal:hover,
#close-search-modal:hover {
    transform: rotate(360deg);
}

#close-basket-modal,
#close-search-modal {
    border-radius: 999px;
    transition: transform 0.25s ease-in-out;
}

.catalog-radio > label {
    height: auto;
    padding: 8px 14px;
    font-weight: 700;
    color: black;
    background-color: #e5e7eb;
    transition: background-color 0.25s;
}

.catalog-radio > label:hover,
.catalog-radio > input[type="radio"]:checked + label {
    color: white;
    background-color: #222;
}

#basket-timeout {
    color: rgb(var(--accent-color-1));
}

#basket-body table {
    text-align: center;
    text-align-last: center;
}

#basket-body table .column-one {
    display: none;
}

#search-body .product {
    width: 49.5%;
    margin-left: 0.25%;
    margin-right: 0.25%;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .catalog-radio > label {
        padding: 12px 21px;
    }

    #basket-body table .column-one {
        display: table-cell;
        width: 100px;
    }

    #search-body .product {
        width: 33.2%;
        margin-left: unset;
        margin-right: unset;
    }

    #search-body .product:nth-of-type(3n + 2) {
        margin-left: 0.2%;
        margin-right: 0.2%;
    }
}
