a:has(> #basket-counter) {
    display: flex;
    justify-content: center;
    align-items: center;
}

#basket-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    margin-left: 5px;
    font-size: x-small;
    font-weight: 900;
    color: white;
    background-color: black;
    border-radius: 99px;
}

@media (max-width: 1023px) {
    #dropdownDashboardBtn[aria-expanded="false"] svg,
    .dropdownNavbarLinkCatalogBtn[aria-expanded="false"] svg {
        transform: rotateZ(0deg);
    }

    #dropdownDashboardBtn[aria-expanded="true"] svg,
    .dropdownNavbarLinkCatalogBtn[aria-expanded="true"] svg {
        transform: rotateZ(180deg);
    }
}

@media (min-width: 1024px) {
    li:has(> #dropdownDashboardLink) > a > svg,
    li:has(> .dropdownNavbarLinkCatalog) > a > svg {
        transform: rotateZ(0deg);
        transition: all 0.25s;
    }

    li:has(> #dropdownDashboardLink):hover > a > svg,
    li:has(> .dropdownNavbarCatalog):hover > a > svg {
        transform: rotateZ(180deg);
    }
}
