#navbar-container {
    width: 100%;
    top: 0;
    z-index: 999;
    transition: all 0.25s;
}

#navbar {
    height: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

#navbar-dropdown li:hover * {
    color: black;
    font-weight: 500;
}

a:has(> #basket-counter) {
    display: flex;
    justify-content: center;
    align-items: center;
}

#basket-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    margin-left: 5px;
    font-size: x-small;
    font-weight: 900;
    color: white;
    background-color: black;
    border-radius: 99px;
}

@media (max-width: 1023px) {
    #navbar-container {
        position: fixed;
    }

    #navbar-dropdown {
        display: block;
        overflow: hidden;
        padding-left: var(--container-padding-x);
        padding-right: var(--container-padding-x);
    }

    #navbar-dropdown-btn {
        margin-right: var(--container-padding-x);
    }

    #navbar-dropdown-btn[aria-expanded="false"] svg:first-of-type,
    #navbar-dropdown-btn[aria-expanded="true"] svg:last-of-type {
        display: block;
    }

    #navbar-dropdown-btn[aria-expanded="true"] svg:first-of-type {
        display: none;
    }

    #navbar:has(#navbar-dropdown-btn[aria-expanded="false"]) #navbar-dropdown {
        height: 0;
        max-height: 0;
        transition: all 0.25s;
    }

    #navbar-container:has(#navbar-dropdown-btn[aria-expanded="true"]) {
        background-color: white;
    }

    #navbar:has(#navbar-dropdown-btn[aria-expanded="true"]) #navbar-dropdown {
        height: 90vh;
        max-height: 1024px;
        margin-bottom: 0.5rem;
        background-color: white;
        transition: all 0.5s;
    }

    #dropdownDashboardBtn[aria-expanded="false"] svg,
    .dropdownNavbarLinkCatalogBtn[aria-expanded="false"] svg {
        transform: rotateZ(0deg);
    }

    #dropdownDashboardBtn[aria-expanded="true"] svg,
    .dropdownNavbarLinkCatalogBtn[aria-expanded="true"] svg {
        transform: rotateZ(180deg);
    }
}

@media (min-width: 1024px) {
    #navbar-container {
        position: sticky;
        padding: 0 var(--container-padding-x);
    }

    #navbar {
        display: flex;
        align-items: center;
    }

    #dropdownDashboard,
    .dropdownNavbarCatalog {
        position: absolute;
        height: 0;
        width: fit-content;
        max-width: 1440px;
        padding-left: var(--container-padding-x);
        padding-right: var(--container-padding-x);
        inset: 10vh auto auto auto;
        transform: unset;
        overflow: hidden;
        margin: 0 auto;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
        transition: all 0.25s ease-in-out;
    }

    #navbar .dropdownNavbarCatalog {
        left: 0;
        right: 0;
        margin-left: var(--container-padding-x);
        margin-right: auto;
    }

    #navbar #dropdownDashboard {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: var(--container-padding-x);
    }

    li:has(> .dropdownNavbarLinkCatalog):hover .dropdownNavbarLinkCatalog {
        color: black;
        font-weight: 500;
    }

    li:has(> #dropdownDashboard):hover #dropdownDashboard,
    li:has(> .dropdownNavbarCatalog):hover .dropdownNavbarCatalog {
        height: 6vh;
    }

    li:has(> #dropdownDashboardLink) > a > svg,
    li:has(> .dropdownNavbarLinkCatalog) > a > svg {
        transform: rotateZ(0deg);
        transition: all 0.25s;
    }

    li:has(> #dropdownDashboardLink):hover > a > svg,
    li:has(> .dropdownNavbarCatalog):hover > a > svg {
        transform: rotateZ(180deg);
    }
}

@media (min-width: 1460px) {
    #navbar .dropdownNavbarCatalog {
        margin-left: calc((100% - 1440px) / 2);
        margin-right: auto;
    }

    #navbar #dropdownDashboard {
        margin-left: auto;
        margin-right: calc((100% - 1440px) / 2);
    }
}
