a:has(> #basket-counter) {
    display: flex;
    justify-content: center;
    align-items: center;
}

#basket-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    margin-left: 5px;
    font-size: x-small;
    font-weight: 900;
    color: white;
    background-color: black;
    border-radius: 99px;
}

@media (max-width: 1023px) {
    #dropdownNavbarLinkMenBtn svg,
    #dropdownNavbarLinkWomanBtn svg {
        transition: 0.5s all;
    }
    
    #dropdownNavbarLinkMenBtn[aria-expanded="false"] svg,
    #dropdownNavbarLinkWomanBtn[aria-expanded="false"] svg {
        transform: rotateZ(0deg);
    }
    
    #dropdownNavbarLinkMenBtn[aria-expanded="true"],
    #dropdownNavbarLinkWomanBtn[aria-expanded="true"] {
        transform: rotateZ(180deg);
    }
}

@media (min-width: 1024px) {
    li:has(> #dropdownNavbarLinkWoman) > a > svg,
    li:has(> #dropdownNavbarLinkMen) > a > svg {
        transform: rotateZ(0deg);
        transition: all 1s;
    }
    
    li:has(> #dropdownNavbarWoman):hover > a > svg,
    li:has(> #dropdownNavbarMen):hover > a > svg {
        transform: rotateZ(180deg);
    }
}
