table {
    text-align: center;
    text-align-last: center;
}

.column-one {
    width: 150px;
}

div:has(> input[type="number"]) {
    margin: auto 5%;
}

.quantity-input {
    max-width: 60px;
}

.remove-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    height: 30px;
    width: 40px;
    border-radius: 99px;
}

div:has(> table) {
    height: fit-content;
    overflow: auto;
}

@media (max-width: 767px) {
    main {
        flex-direction: column;
    }

    #summary-container .column-one,
    #summary-container .column-five {
        display: none;
    }
}
