@media (prefers-color-scheme: light) {
}

@media (prefers-color-scheme: dark) {
}

@media (max-width: 767px) {
    #default-carousel {
        aspect-ratio: 4/3;
    }
}

@media (min-width: 768px) {
    #default-carousel {
        aspect-ratio: 4/2;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 1024px) and (max-width: 1280px) {
}

@media (min-width: 1280px) {
}

@media (max-width: 1280px) {
}

#default-carousel {
    max-width: 1280px;
    margin: auto;
}

.carousel-text-container > div {
    margin: 0.5% auto;
    padding: 0.5%;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(25px);
}
