@media (prefers-color-scheme: light) {
}

@media (prefers-color-scheme: dark) {
}

@media (max-width: 767px) {
    main {
        padding: 0 var(--container-padding-x);
    }

    #headers {
        margin: 5% auto;
    }

    .category {
        width: 30%;
        margin: 0 1%;
    }

    .product {
        width: 49%;
        margin-left: 0.5%;
        margin-right: 0.5%;
    }
}

@media (min-width: 768px) {
    #headers {
        margin: 5% auto;
    }

    .category .thumbnail img {
        transition: 0.5s all;
    }

    .category .thumbnail:hover img {
        transform: scale(1.020);
    }

    .product {
        width: 33%;
    }

    .product:nth-child(3n + 2) {
        margin-left: 0.5%;
        margin-right: 0.5%;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    main {
        padding: 0 var(--container-padding-x);
    }

    .category {
        width: 20%;
        margin: 1%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 1024px) and (max-width: 1279px) {
}

@media (min-width: 1280px) {
    .filters {
        border-radius: 0.5rem;
    }

    main {
        padding: 0 var(--container-padding-x);
    }

    .category {
        width: 15%;
        margin: 1%;
    }
}

@media (max-width: 1280px) {
}

#headers {
    width: 100%;
}

main {
    display: flex;
    flex-wrap: wrap;
}

#filters {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
}

#filter_select {
    width: 20%;
    min-width: 150px;
}

.product {
    margin-bottom: 5%;
}
