@media (prefers-color-scheme: light) {
}

@media (prefers-color-scheme: dark) {
}

@media (max-width: 767px) {
    main {
        padding: 0 !important;
    }

    #default-carousel {
        aspect-ratio: 4/3;
    }

    #products-container {
        padding: 1%;
    }

    #headers,
    #women,
    #men {
        margin-top: 10%;
    }

    #headers {
        margin-bottom: 10%;
    }

    #woman h3,
    #men h3 {
        font-size: medium;
    }

    .product {
        min-width: 45%;
        margin-bottom: 2.5%;
    }
}

@media (min-width: 768px) {
    #headers,
    .product {
        margin-top: 8%;
    }

    #headers {
        margin-bottom: 8%;
    }

    #default-carousel {
        height: 88vh;
    }

    .product {
        margin-bottom: 2%;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    #woman h3,
    #men h3 {
        font-size: xx-large;
    }

    #products-container {
        padding: 0 2%;
    }

    .product {
        min-width: 30%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (max-width: 1023px) {
    #products-container #men, #products-container #woman {
        overflow: auto;
    }
}

@media (min-width: 1024px) {
    @supports (animation-timeline: view()) {   
        #products-container #woman > * {
            animation: translate-right-to-left linear;
        }
    
        #products-container #men > * {
            animation: translate-left-to-right linear;
        }
        
        #products-container #men > *,
        #products-container #woman > * {
            animation-timeline: view();
            animation-range: var(--animation-range);
        }

        @keyframes translate-right-to-left {
            from {
                translate: var(--translate-x-start-right-to-left);
            }
        
            to {
                translate: var(--translate-x-end-right-to-left);
            }
        }
        
        @keyframes translate-left-to-right {
            from {
                translate: var(--translate-x-start-left-to-right);
            }
        
            to {
                translate: var(--translate-x-end-left-to-right);
            }
        }
    }

    @supports not (animation-timeline: view()) {
        #products-container #men, #products-container #woman {
            overflow: auto;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    :root {
        --animation-range: 35%;
        --translate-x-start-right-to-left: 0rem;
        --translate-x-start-left-to-right: 0rem;
        --translate-x-end-right-to-left: -100rem;
        --translate-x-end-left-to-right: 100rem;
    }
}

@media (min-width: 1280px) {
    :root {
        --animation-range: 0%;
        --translate-x-start-right-to-left: 0rem;
        --translate-x-start-left-to-right: 0rem;
        --translate-x-end-right-to-left: -45rem;
        --translate-x-end-left-to-right: 45rem;
    }
    
    #products-container #woman h3,
    #products-container #men h3 {
        font-size: xxx-large;
    }

    #products-container #woman {
        flex-direction: row-reverse;
    }

    .product {
        min-width: 22%;
        max-width: 320px;
    }
}

@media (max-width: 1279px) {
}

#products-container #woman h3,
#products-container #men h3 {
    text-align: center;
    align-self: center;
    transform: rotateZ(270deg);
    text-transform: uppercase;
    font-weight: 500;
}

#products-container #woman a,
#products-container #men a {
    text-align: center;
    align-self: center;
    text-transform: uppercase;
    font-weight: 500;
}

#carousel-container #default-carousel {
    max-width: 1280px;
    margin: auto;
}

#products-container #men,
#products-container #woman {
    display: flex;
    flex-wrap: nowrap;
}

#products-container .product {
    max-width: 320px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.product .product-thumbnail {
    aspect-ratio: 3/4;
    background-size: cover;
    background-position: center;
    transition: 0.5s all;
}
