h1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: xx-large;
}

h1 > span {
    background-image: linear-gradient(
        rgb(var(--accent-color-1), 0.8),
        rgb(var(--accent-color-1), 0.8)
    );
}

h1.search-title {
    font-size: var(--h1-font-size);
}

main {
    display: flex;
    flex-wrap: wrap;
}

#headers {
    width: 100%;
    margin: 25px auto;
}

.catalog-name {
    display: flex;
    align-items: center;
    transform: rotate(-90deg) translateY(-1rem);
    scroll-snap-align: start;
}

#categories {
    scroll-snap-type: x proximity;
    scroll-behavior: smooth;
}

#categories > .categories-container {
    scroll-padding-left: 25px;
    scroll-padding-right: 25px;
    mask-image: linear-gradient(
            to left,
            rgb(255, 255, 255, 0) 0,
            rgb(249, 250, 251, 1) 25px
        ),
        linear-gradient(
            to right,
            rgb(255, 255, 255, 0) 0,
            rgb(249, 250, 251, 1) 25px
        );
    mask-composite: intersect;
}

#categories > .categories-container::-webkit-scrollbar {
    display: none;
}

.category {
    width: 10rem;
    min-width: 10rem;
    margin: auto 2.5%;
}

.category .thumbnail {
    aspect-ratio: 1 / 1;
    border-radius: 999px;
}

.category .thumbnail img {
    filter: blur(1px) grayscale(0.85);
    transition: all 0.8s;
}

.category .thumbnail:hover img {
    filter: blur(0) grayscale(0);
}

#sizes > input[type="radio"],
#sort-by > input[type="radio"] {
    display: none;
}

#sizes > label,
#sort-by > label {
    color: rgb(var(--accent-color-4), 0.75);
    background-color: rgb(243, 244, 246);
    transition: 0.15s background-color linear;
}

#sizes > label:hover,
#sizes > input[type="radio"]:checked + label,
#sort-by > label:hover,
#sort-by > input[type="radio"]:checked + label {
    background-color: rgb(var(--accent-color-2), 0.25);
}

.product {
    margin-bottom: 2rem;
}

.category.selected .thumbnail img {
    transform: scale(1);
    filter: blur(0) grayscale(0);
}

.product {
    width: 49%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

@media (min-width: 768px) {
    h1 {
        font-size: xxx-large;
    }

    #headers {
        margin: 50px auto 25px auto;
    }

    .category {
        width: 14rem;
        min-width: 14rem;
        margin: auto 1%;
    }

    .category .thumbnail img {
        transform: scale(1.2);
    }

    .category .thumbnail:hover img {
        transform: scale(1);
    }

    .product {
        width: 33%;
        margin-left: unset;
        margin-right: unset;
    }

    .product:nth-of-type(3n + 2) {
        margin-left: 0.5%;
        margin-right: 0.5%;
    }

    #filter_select {
        width: 20%;
        min-width: 150px;
    }
}
