h1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: xxx-large;
    color: rgb(var(--accent-color-1), 0.8);
    background-image: linear-gradient(
        rgb(var(--accent-color-4), 0.8),
        rgb(var(--accent-color-4), 0.8)
    );
}

main {
    display: flex;
    flex-wrap: wrap;
}

#headers {
    width: 100%;
}

#categories {
    border-top: 2.5px dashed rgb(var(--accent-color-4));
}

.catalog-name {
    display: flex;
    align-items: center;
    transform: rotate(-90deg);
}

.category .thumbnail img {
    filter: blur(1px) grayscale(0.85);
    transition: all 0.8s;
}

.category .thumbnail:hover img {
    filter: blur(0) grayscale(0);
}

#filters {
    background-color: rgb(var(--accent-color-2), 0.15);
}

.product {
    margin-bottom: 2rem;
}

.category.selected .thumbnail img {
    transform: scale(1);
    filter: blur(0) grayscale(0);
}

@media (max-width: 767px) {
    #headers {
        margin: 25px auto;
    }

    .category {
        width: 28%;
        min-width: 28%;
        margin: 0 1%;
    }

    .product {
        margin-left: 0.5%;
        margin-right: 0.5%;
    }

    .product {
        width: 49%;
    }
}

@media (min-width: 768px) {
    #headers {
        margin: 50px auto 25px auto;
    }

    #categories {
        border-top: 5px dotted rgb(var(--accent-color-2), 0.5);
    }

    .category {
        width: 15%;
        margin: 0.5%;
    }

    .category .thumbnail img {
        transform: scale(1.2);
    }

    .category .thumbnail:hover img {
        transform: scale(1);
    }

    .product {
        width: 33%;
    }

    .product:nth-of-type(3n + 2) {
        margin-left: 0.5%;
        margin-right: 0.5%;
    }

    #filter_select {
        width: 20%;
        min-width: 150px;
    }
}
