h2 {
    text-align: start;
}

#product-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
}

#buttons {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

#price {
    margin-bottom: 5%;
}

/* Aside */
#other-products-container {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    ::-webkit-scrollbar:horizontal {
        display: none;
    }

    main {
        padding-left: 0;
        padding-right: 0;
    }

    #buttons {
        flex-direction: column;
    }

    #product-details-container,
    #other-products-container {
        padding-left: var(--container-padding-x);
        padding-right: var(--container-padding-x);
    }

    #product-detail > div {
        margin-bottom: 5%;
    }

    #other-products-container {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #other-products-container h3 {
        width: 100%;
    }

    #other-products-container .product {
        width: 49%;
        margin-bottom: 2.5%;
    }
}

@media (min-width: 768px) {
    main > div:first-of-type {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5%;
    }

    #products-container .product {
        margin-top: 8%;
        margin-bottom: 2%;
    }

    #other-products-container .product {
        min-width: 30%;
        max-width: 30%;
    }

    #other-products-container .product:nth-of-type(2) {
        margin: auto 5%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    #buttons {
        flex-direction: column;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    main {
        padding-left: 0;
        padding-right: 0;
    }

    #product-details-container,
    #other-products-container {
        padding: 0 1.5rem;
    }
}

@media (max-width: 1024px) {
    #buttons > button {
        width: 100%;
        margin: 2.5% 0;
    }
}

@media (min-width: 1024px) {
    #buttons > button:nth-of-type(1) {
        width: 100%;
    }

    #buttons > button:nth-of-type(2) {
        width: fit-content;
        min-width: 220px;
        margin-left: 5%;
    }
}

@media (min-width: 1280px) {
    #product-details-container {
        padding-left: 1.5rem;
    }
}
