@media (prefers-color-scheme: light) {
}

@media (prefers-color-scheme: dark) {
}

@media (max-width: 767px) {
    #default-carousel {
        width: 100%;
        aspect-ratio: 3/4;
        margin: auto;
    }

    #buttons {
        flex-direction: column;
    }

    #product-detail > div:nth-of-type(1) {
        margin-bottom: 5%;
    }
}

@media (min-width: 768px) {
    main {
        display: flex;
        justify-content: space-between;
    }

    #default-carousel > div {
        aspect-ratio: 3/4;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    main {
        padding: 0 1%;
    }

    #product-detail-container {
        margin-left: 2%;
    }

    #default-carousel > div {
        height: 70vh;
    }

    #buttons {
        flex-direction: column;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    main {
        padding: 0 1%;
    }
}

@media (min-width: 1024px) {
    #product-detail-container {
        margin-left: 5%;
    }

    #default-carousel > div {
        height: 88vh;
    }

    #buttons > button:nth-of-type(1) {
        width: 100%;
    }

    #buttons > button:nth-of-type(2) {
        width: fit-content;
        min-width: 200px;
        margin-left: 5%;
    }
}

@media (max-width: 1024px) {
    #buttons > button {
        width: 100%;
        margin: 2.5% 0;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
}

@media (min-width: 1280px) {
}

@media (max-width: 1280px) {
}

#default-carousel > div:first-child {
    border-radius: 0.5rem;
}

#carousel-container .carousel {
    width: fit-content;
}

#product-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 70%;
    text-align: justify;
}

#buttons {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

#title {
    margin-bottom: 5%;
}

.carousel-item > img {
    object-fit: cover;
}
